<p id="notice"><%= notice %></p>

<p>
  <strong>Stock keeping unit:</strong>
  <%= @order_detail.stock_keeping_unit %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_detail.quantity %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @order_detail.amount %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order_detail.product_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_detail.order_id %>
</p>

<%= link_to 'Edit', edit_order_detail_path(@order_detail) %> |
<%= link_to 'Back', order_details_path %>
