<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Product description:</strong>
  <%= @product.product_description %>
</p>

<p>
  <strong>Product price:</strong>
  <%= @product.product_price %>
</p>

<p>
  <strong>Product image:</strong>
  <%= @product.product_image %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
